
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Bài viết xem nhiều nhất</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-condensed">
            <tr>
                <th>Tiêu đề</th>
                <th style="width: 80px">Lượt xem</th>
            </tr>
            <tr>
                <td>Ngữ pháp について (nitsuite)...</td>
                <td><span class="badge bg-red">100%</span></td>
            </tr>
            <tr>
                <td>Tiếng Nhật - tặng quà cho ai đó...</td>
                <td><span class="badge bg-yellow">70%</span></td>
            </tr>
            <tr>
                <td>Tiếng Nhật - "đã lâu không gặp"...</td>
                <td><span class="badge bg-light-blue">60%</span></td>
            </tr>
            <tr>
                <td>cách cảm ơn trong tiếng Nhật</td>
                <td><span class="badge bg-green">60%</span></td>
            </tr>
        </table>
    </div>
    <!-- /.box-body -->
</div>